* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  overflow: hidden;
}

/* Preloader */
.preloader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/Preloader_2.gif) 50% 50% no-repeat #fff;
}

/* Popups */
.popup-help,
.popup-container {
  border-radius: 10px;
  border: 3px solid #ff9800;
  width: 96%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
}
.popup-container .popup-image {
  overflow: scroll;
  width: 100%;
  height: 100%;
}
.popup-container img {
  margin: -134px;
}
.popup-help {
  background-color: white;
}
.popup-help p {
  margin: 10px 0 0 10px;
}
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* Bullets */
.bullet {
  width: 17px;
  height: 17px;
  border: 2px solid orange;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 0 -3px 102px;
}
.bullet.clicked {
  background-color: #2196f3;
  border-color: red;
}

/* Game container */
.whole-page {
  margin: 10px auto;
  width: 1000px;
  transition: transform 0.3s 0.1s ease-in-out;
  transform-origin: top left;
}

/* Section 1 (header) */
.section-1 {
  margin: 20px 0;
}
.section-1 img {
  width: 40px;
  cursor: pointer;
}
.section-1 .image-2 {
  margin-left: 10px;
}

/* Section 2 (the game) */
.section-2 {
  position: relative;
  border-radius: 10px;
  border: 3px solid #ff9800;
  padding: 50px 10px;
  background-color: white;
}
.section-2::before,
.section-2::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 98%;
  background-color: #2196f3;
  top: 4px;
}
.section-2::before {
  left: -20px;
}
.section-2::after {
  right: -20px;
}
.section-2 .images img {
  width: 120px;
  height: 120px;
  cursor: pointer;
}
.section-2 .matching-lines {
  height: 180px;
}
.section-2 .matching-lines line {
  display: none;
}
line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 1s linear forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.section-2 .word {
  position: relative;
}
.section-2 .word img {
  display: none;
  position: absolute;
  width: 30px;
  top: 85px;
  left: 107px;
}
.section-2 .word span {
  font-size: 30px;
  margin: 0;
  cursor: pointer;
}

/* Section 3 (footer) */
.section-3 {
  position: relative;
}
.section-3 img {
  margin-top: 10px;
  cursor: pointer;
}
.section-3 .replay img {
  width: 60px;
}
.section-3 .showAnswer img {
  width: 70px;
  height: 55px;
}
.section-3::before {
  content: "";
  position: absolute;
  width: calc(100% + 36px);
  background-color: #2196f336;
  height: 80px;
  z-index: -1;
  left: -18px;
  padding: 11px 0;
  top: -9px;
}
